/*Background*/

 .bg-image {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
}

/*Nav*/

.navbar {
  background-color: black;
}

/*About*/

.intro {
  margin-top: 175px;
}

@media all and (max-width: 768px) {
  .intro {
    margin-top: 100px;
  }
}

.about-content {
  margin-left: 10%;
}

@media all and (max-width: 768px) {
  .about-content {
  margin-left: 0;
  }
}

.name {
  font-weight: 700;
}

.pro-title {
  font-weight: 600;
  color: #b6d2f8;
}

.logo {
  height: 35px;
}

/*Portfolio*/

.portfolio-container {
  background-color: black;
}

.portfolio-title {
  font-weight: 600;
  color: #b6d2f8;
}

/*Contact*/

.contact-container {
  width: 100%;
  background-color: rgba(0,0,0,0.6)
}

@media all and (min-width: 768px) {
  .contact-container{
    width: 75%;
  }
}

@media all and (min-width: 992px) {
  .contact-container{
    width: 50%;
  }
}

@media all and (min-width: 1400px) {
  .contact-container{
    width: 30%;
  }
}

.contact-title {
  font-weight: 600;
  color: #b6d2f8;
}

#floating-input-comments {
  height: 175px;
}

/*Footer*/


footer {
  background-color: black;
  color: #8c8c8c;
}

.container-fluid {
    padding: 0!important;
}

.footer-link {
  color: #8c8c8c;
  text-decoration: none;
  }

.footer-link a:link {
    color: #8c8c8c;
  }

.footer-link a:visited {
  color: #8c8c8c;
}

.footer-link a:hover {
  color: #bfbfbf!important;
}

.footer-link a:active {
  color: #ffffff;
}
